#footer{
	padding: 24px 0px;
}
#contact .contact-form{
	margin-top: 24px;
}
#contactenosVue .form-group {
    margin-bottom: 10px;
}
.campo_oculto{
	display: none;
}
.swal2-popup {
    font-size: 1.5rem !important;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
#app{
    padding: 100px 0 75px;
}