// Map with much breakpoints
$breakpoints: (
    mobile: 320px,
    tablet: 768px,
    desktop: 1025px,
    desktopHR: 1525px,
);
 
// Respond-To Mixin
@mixin mediaQuery($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
         
        @media screen and (max-width: $value) {
            @content;
        }
    }
     
    @warn "Unknown `#{$breakpoint}` in $breakpoints";
}