
/*FONTS NAVBAR MENU*/
@font-face {
    font-family: 'UnitedSansReg-Extra-Bold';
    font-style: normal;
    src: url('../fonts/UnitedSansReg-Extra-Bold.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'UnitedSansReg-Medium';
    font-style: normal;
    src: url('../fonts/UnitedSansReg-Medium.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'UnitedSansReg-Bold';
    font-style: normal;
    src: url('../fonts/UnitedSansReg-Bold.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*OTHERS*/
@font-face {
    font-family: 'Code-Light';
    font-style: normal;
    src: url('../fonts/Code-Light.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Code-Bold';
    font-style: normal;
    src: url('../fonts/Code-Bold.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*SLIDER1*/
@font-face {
    font-family: 'UnitedItalicReg-Black';
    font-style: normal;
    src: url('../fonts/UnitedItalicReg-Black.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'UnitedItalicReg-Black';
    font-style: normal;
    src: url('../fonts/UnitedItalicReg-Black.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'UnitedItalicReg-Stencil';
    font-style: normal;
    src: url('../fonts/UnitedItalicReg-Stencil.otf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*SLIDER3*/
@font-face {
    font-family: 'FuturaCondensedExtraBoldNormal';
    font-style: normal;
    src: url('../fonts/FuturaCondensedExtraBoldNormal.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$secundary-light:'Code-Light';
$secundary-bold:'Code-Bold';

$terciary-extra-bold: 'UnitedSansReg-Extra-Bold';
$terciary-bold: 'UnitedSansReg-Bold';
$terciary-medium: 'UnitedSansReg-Medium';

$font-slider-1-bold:'UnitedItalicReg-Black';
$font-slider-1-Stencil:'UnitedItalicReg-Stencil';



$font-slider-3-bold:'FuturaCondensedExtraBoldNormal';




