@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('fonts/AvenirNextLTProBold.eot');
    src: url('fonts/AvenirNextLTProBold.eot') format('embedded-opentype'),
         url('fonts/AvenirNextLTProBold.woff2') format('woff2'),
         url('fonts/AvenirNextLTProBold.woff') format('woff'),
         url('fonts/AvenirNextLTProBold.ttf') format('truetype'),
         url('fonts/AvenirNextLTProBold.svg') format('svg');
}
@font-face {
    font-family: 'AvenirNextLTProDemi';
    src: url('fonts/AvenirNextLTProDemi.eot');
    src: url('fonts/AvenirNextLTProDemi.eot') format('embedded-opentype'),
         url('fonts/AvenirNextLTProDemi.woff2') format('woff2'),
         url('fonts/AvenirNextLTProDemi.woff') format('woff'),
         url('fonts/AvenirNextLTProDemi.ttf') format('truetype'),
         url('fonts/AvenirNextLTProDemi.svg') format('svg');
}
@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('fonts/AvenirNextLTProRegular.eot');
    src: url('fonts/AvenirNextLTProRegular.eot') format('embedded-opentype'),
         url('fonts/AvenirNextLTProRegular.woff2') format('woff2'),
         url('fonts/AvenirNextLTProRegular.woff') format('woff'),
         url('fonts/AvenirNextLTProRegular.ttf') format('truetype'),
         url('fonts/AvenirNextLTProRegular.svg') format('svg');
}
